*{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(220px, 1fr) 5fr;
    grid-template-rows: 100px 1fr;
}

.header{
    grid-column: 2/3;
    background-color: aquamarine;
}

.sidebar{
    grid-row: 1/-1;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sidebar-content,
.sidebar-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content{
    grid-column: 2/3;
    background-color: coral;
}

.card{
    display: flex;
    gap: 10px;
}